---
import Titles from "./titles/Titles.astro";
import Fights from "./fights/Fights.astro";
import Skills from "./skills/Skills.astro";
import Home from "./home/Home.astro";

---

<main>
  <div class="container_p">
    <Home />
    <Titles />
    <Fights />
  </div>
</main>